<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="../static/common/headbar::headbar"></div>
<div th:fragment="homepage">
    <nav class="nav nav-tabs" style="margin-top:50px;background-color: #EEEEEE">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/managebooks/admin/homepage">图书管理</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/managebooks/admin/books">添加图书</a></li>
                    <li><a href="/managebooks/admin/reservation">管理预约</a></li>
                    <li><a href="/managebooks/admin/borrow">查看借阅情况</a></li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color: #000000"><span th:text="${user.userName}+',欢迎您'"
                                                             class="glyphicon glyphicon-user"></span>&nbsp;</a></li>
                <li><a href="/managebooks/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;退出</a></li>
            </ul>
        </div>
    </nav>
</div>

<a href="/managebooks/admin/books">
    <div class="square1">
        <div class="no-logo">添加图书</div>
    </div>
</a>

<a href="/managebooks/admin/borrow">
    <div class="square1">
        <div class="no-logo">管理预约</div>
    </div>
</a>

<a href="/managebooks/admin/borrow">
    <div class="square1">
        <div class="no-logo">查看借阅情况</div>
    </div>
</a>

<a href="#">
    <div class="square1">
        <div class="no-logo">更多功能</div>
    </div>
</a>

</body>
</html>