<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/css/homepage.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="../static/common/headbar::headbar"></div>
<div th:fragment="homepage">
    <nav class="nav nav-tabs" style="margin-top:50px;background-color: #EEEEEE">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">图书管理</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/managebooks/books">添加图书</a></li>
                    <li class="active"><a href="/managebooks/books">管理预约</a></li>
                    <li class="active"><a href="/managebooks/books">查看借阅情况</a></li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color: #000000"><span th:text="${user.userName}+',欢迎您'" class="glyphicon glyphicon-user"></span>&nbsp;</a></li>
                <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span>&nbsp;退出</a></li>
            </ul>
        </div>
    </nav>
</div>


</body>
</html>