<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预约情况</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="../static/common/headbar::headbar"></div>
<div th:include="./detail_user::homepage"></div>
<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">预约记录</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover" style="text-align:center">
            <thead>
            <tr>
                <th>预约号</th>
                <th>书名</th>
                <th>过期时间</th>
                <th>预约状态</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="res: ${list}">
                <td th:text="${res.reservationId}"></td>
                <td th:text="${res.bname}"></td>
                <td th:if="${res.deadline!=null}" th:text="${#dates.format(res.deadline, 'yyyy-MM-dd')}"></td>
                <td th:if="${res.deadline==null}" th:text="待更新"></td>
                <td><button type="button" class="btn btn-success disabled">处理中</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>